{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">
</div>
{% endblock %}

{% block stylesheets %}
    <div class="section section-features">
        <div class="container">
            <h4 class="header-text text-center">iformacion</h4>
            <div class="row">
                <div class="col-md-8 col-lg-offset-2">
                    <div class="card card-blue">
                        <h6 class="text-center">Detalle </h6>
                        <p class="">
                            Lugar : Costanera Norte del Río Cuarto <br>
                            Domicilio: Av. Argentina 100 (Zona de azudes)<br>
                            Localidad: Ciudad de Río Cuarto<br>
                            Fecha: Domingo 1 de octubre de 2017<br>
                            Hora de largada: 11 hs<br>
                            Distancias: 10 K / 4 K COMPETITIVA / 4K CAMINATA<br>
                        </p>
                        <hr>
                        <h6 class="text-center">COSTO DE INSCRIPCION 1 ALIMENTO NO PERECEDERO
                        </h6>
                        <hr>

                        <p>El Kit Incluye:<br>
                            * Derecho a Participación<br>
                            * Remera Técnica de USO OBLGATORIO<br>
                            * Número de Dorsal Con chip Incluido de USO OBLGATORIO<br>
                            * Seguro de Atleta<br>
                            * Hidratación<br>
                            * Servicio de Ambulancia<br>
                        </p>
                        <hr>

                        <h6 class="text-center text-danger">
                            NO SE INSCRIBE EL DIA DE LA CARRERA
                            SIN EXCEPCION
                        </h6>
                        <hr>

                        <h6 class="text-center">
                            PREMIACIÓN:

                        </h6>
                        <p>Medallas Finisher para Todos los competidores

                        </p><br>
                        <h6 class="text-center">
                            PREMIACION 10K:

                        </h6>
                        <p>
                            DAMAS | CABALLEROS COMPETITIVA
                            Orden de compra $4000-$3000-$2000 y trofeos del 1° al 3° General
                        </p><br>
                        <h6 class="text-center">
                            NO ACUMULATIVAS:

                        </h6>
                        <p>Medallas del 1° al 3° Puesto de cada Categoría (Ambas ramas)
                        </p><br>
                        <h6 class="text-center">
                            PREMIACION 4K COMPETITIVA:

                        </h6>
                        <p>DAMAS | CABALLEROS
                            Orden de compra $1000 y Medallas 1° - Medallas 2° y 3° (Ambas ramas)
                        </p>
                        <br>
                        <h6 class="text-center">
                            CAMINATA 4K PARTICIPATIVA:

                        </h6>
                        <p>
                            Medallas finisher

                        </p>
                        <br>
                        <h6 class="text-center">
                            PREMIACION CATEGORIA ESPECIAL 4K:

                        </h6>
                        <p>
                            Medallas

                        </p>
                        <h6 class="text-success text-center">PREMIO INCENTIVO MEJOR CORREDOR COLEGIOS SECUNDARIOS 4K DAMAS/CABALLEROS</h6>
                        <hr>
                        <h6 class="text-center">CATEGORIAS 10K
                            DAMAS | CABALLEROS - COMPETITIVA
                        </h6>
                        <p>
                            Hasta 19 años <br>
                            De 20 a 24 años<br>
                            De 25 a 29 años<br>
                            De 30 a 34 años<br>
                            De 35 a 39 años<br>
                            De 40 a 44 años<br>
                            De 45 a 49 años<br>
                            De 50 ó más<br>
                            Categoría Especial Única
                        </p>
                        <hr>
                        <h6 class="text-center">4K COMPETITIVA
                        </h6>
                        <p>
                            Damas Unica<br>
                            Caballeros Unica<br>
                            Especial Unica
                        </p>
                        <hr>
                        <h6 class="text-center">
                            4K DAMAS Y CABALLEROS - CAMINATA PARTICIPATIVA
                        </h6>
                        <hr>
                        <h6 class="text-center">CRONOGRAMA
                        </h6>
                        <p>
                            <span class="text-danger"> 30/09/2017</span><br>
                            De 11:00hs a 18:00hs.<br>
                            ENTREGA DE KITS<br>
                            LUGAR: a designar. <br>
                            <br>
                            <span class="text-danger"> 01/10/2017</span><br>
                            De 8.00hs A 10:00hs<br>
                            ENTREGA DE KITS PARA CORREDORES FORÁNEOS<br>
                            10.45 hs. ENTRADA EN CALOR<br>
                            11.00 hs. LARGADA<br>
                            12 hs. PREMIACION<br>
                            12.30 HS. Apertura de jornada recreativa –Patio de comidas (Food Truck), sorteos, regalos, actividades infantiles y espectáculos.
                        </p>
                        <hr>
                        <h6 class="text-danger text-center">INSCRIPCIONES PRESENCIALES:
                        </h6>
                        <p>
                            LUGAR: Instituto Médico Río Cuarto<br>
                            DOMICILIO: Hipólito Irigoyen 1020<br>
                            DÍAS: De lunes a viernes<br>
                            HORARIOS: de 8:00 a 20.00 hs<br>
                        </p>
                        <hr>
                        <h6 class="text-danger text-center">INSCRIPCIONES ON -LINE:
                        </h6>
                        <a class="btn btn-primary col-md-6 col-sm-offset-3" href="{{ path('corredor_new') }}">INSCRIPCIONES</a>
                        <br>
                        <hr>
                        <br>
                        <h6 class="text-danger text-center">CIERRE DE INSCRIPCIONES:
                        </h6>
                        <p>
                            Hasta el jueves 28 de septiembre de 2017 a las 22hs ON LINE <br>
                            Hasta el viernes 29 Septiembre de 2017 a las 20.00 Hs. INSTITUTO MEDICO RIO CUARTO - PRESENCIALES
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}