
<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li>
                    <a >
                        Web creada por:
                    </a>
                </li>
                <li>

                    <a  href="https://www.facebook.com/manulucer0" class="btn btn-social btn-facebook btn-simple">
                        Manuel Agustin Lucero
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>

                <li>

                    <a href="https://www.facebook.com/ncarinao" class="btn btn-social btn-facebook btn-simple">
                        Natanael Carinao
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>

            </ul>
        </nav>


    </div>
</footer>